BCHN_RPC_URL=http://host.docker.internal:8332
BCHN_RPC_USER=
BCHN_RPC_PASSWORD=
BCHN_RPC_PORT=8332
BCHN_ZMQ_HOST=tcp://host.docker.internal:28332
STRATUM_PORT=3333
API_PORT=3334
NETWORK=mainnet
POOL_IDENTIFIER=WxBCH-Public-Pool
DB_PATH=./data/pool.sqlite
INITIAL_DIFFICULTY=8192
MIN_DIFFICULTY=0.001
MAX_DIFFICULTY=1000000000000
TARGET_SHARE_SECONDS=30
VERSION_ROLLING_MASK=1fffe000