BCH_RPC_URL=http://127.0.0.1:8332/
BCH_RPC_USER=
BCH_RPC_PASSWORD=
BCH_PAYOUT_ADDRESS=bitcoincash:YOUR_BCH_ADDRESS
STRATUM_HOST=0.0.0.0
STRATUM_PORT=3334
WEB_HOST=0.0.0.0
WEB_PORT=8080
START_DIFFICULTY=1000
VARDIFF_MIN=1
VARDIFF_MAX=65536
COINBASE_MESSAGE=BCH Solo Pool
